<!doctype html>
<html class="no-js" lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% for item in main.css %}
        <link rel="stylesheet" href="{{item}}">
        {% endfor %}

        {% for item in main.headerjs %}
        <script src="{{item}}"></script>
        {% endfor %}

        {% block css %}{% endblock %}
    </head>
    <body style="background-image: url(/images/bgpic.jpg); background-size:cover; background-repeat: no-repeat;">
        <div id="wrapper">
            <div id="main">                
                {% block content %}{% endblock %}
            </div>

        </div>

        {% for item in main.footerjs %}
        <script src="{{item}}"></script>
        {% endfor %}

        {% block js %}{% endblock %}

    
    </body>
</html>
